.orderContainer {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
  padding: 18px;
}

.orderDate {
  font-weight: 500;
  margin-bottom: 10px;
}

.orderItems {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.orderItem {
  display: flex;
  justify-content: space-between;
}

.orderItemName {
  font-weight: 500;
}

.orderItemPrice {
  color: rgb(177, 39, 4);
  font-weight: 700;
}

.orderTotal {
  font-weight: 700;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: right;
}