.main {
  margin-top: 60px; /* ca să nu fie sub header */
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0; /* opțional, poți pune spațiu între produse */
}

@media (max-width: 2000px) {
  .productsGrid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1600px) {
  .productsGrid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .productsGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .productsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .productsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .productsGrid {
    grid-template-columns: 1fr;
  }
}