.amazonHeader {
  background-color: rgb(19, 25, 33);
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.amazonHeaderLeftSection {
  width: 180px;
}

@media (max-width: 800px) {
  .amazonHeaderLeftSection {
    width: unset;
  }
}

.headerLink {
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.headerLink:hover {
  border: 1px solid white;
}

.amazonLogo {
  width: 100px;
  margin-top: 5px;
}

.amazonMobileLogo {
  display: none;
}

@media (max-width: 575px) {
  .amazonLogo {
    display: none;
  }

  .amazonMobileLogo {
    display: block;
    height: 35px;
    margin-top: 5px;
  }
}

.amazonHeaderMiddleSection {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.searchBar {
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.searchButton {
  background-color: rgb(254, 189, 105);
  border: none;
  width: 45px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  flex-shrink: 0;
}

.searchIcon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

.amazonHeaderRightSection {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.ordersLink {
  color: white;
}

.returnsText {
  display: block;
  font-size: 13px;
}

.ordersText {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.cartLink {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.cartIcon {
  width: 50px;
}

.cartText {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
}

.cartQuantity {
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: 4px;
  left: 22px;

  width: 26px;
  text-align: center;
}
